.header {
  z-index: 1;
  background-color: $primary;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.7em;
    padding: 1.25em;

    @keyframes shake {
      0% {
        rotate: 5deg;
        filter: drop-shadow(0px 0px 8px $accent);
      }
      20% {
        rotate: -5deg;
        width: 4.8em;
        filter: drop-shadow(0px 0px 12px $accent);
      }
      40% {
        rotate: 7deg;
        width: 4.6em;
        filter: drop-shadow(0px 0px 4px $accent);
      }
      60% {
        rotate: -7deg;
        width: 4.2em;
        filter: drop-shadow(0px 0px 3px $accent);
      }
      80% {
        rotate: 10deg;
        width: 4.8em;
        filter: drop-shadow(0px 0px 2px $accent);
      }
      100% {
        rotate: 3deg;
        width: 5.7em;
        filter: drop-shadow(0px 0px 20px $accent);
      }
    }

    img {
      rotate: 3deg;
      width: 5.7em;
      transition: 200ms;
      filter: drop-shadow(0px 0px 8px $accent);
    }
    &:hover {
      animation: shake 650ms;
    }
  }

  ul {
    position: absolute;
    right: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
      margin-right: 2em;
      button {
        cursor: pointer;
        font-family: $mainFont;
        opacity: 0.5;
        color: $text;
        border: none;
        background: none;
        font-size: 1.2em;
        transition: 200ms;
        border: 2px solid $accent;
        padding: 0.5em 1em;
        border-radius: 5em;
      }
      button:hover {
        opacity: 1;
        background: $secondary;
        color: $primary;
      }
    }
  }
}
